<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Adamina&family=Source+Serif+4:opsz,wght@8..60,400;8..60,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./styles/style.css">
    <title>Fablicious</title>
</head>
<body class="<%- locals.pageClass %>">
    <nav>
        <a class="signin" href="/signin">Sign In</a>
        <h2>Fablicious</h2>
        <div>
            <a class="nav-home" href="/">Home</a>
            <a class="nav-browse" href="/browse">Browse Recipes</a>
            <a class="nav-fav" href="/favourites">Favourites</a>
        </div>
    </nav>
    