<%- include("./partials/header.ejs", {pageClass: "browse"}) %>
<%- include("./partials/renderImages.ejs", {images: browseImages, imgClass: "browseImg"}) %>
<%- include("./partials/footer.ejs") %>
</body>
</html>
<script src="./addToFav.js">
</script>