<%- include("./partials/header.ejs", {pageClass: "home"}) %>
    <main>
        <form action="/search" method="post">
            <input type="text" id="autocomplete_search" class="form-control form-control-lg" placeholder="Search for a recipe" required>
            <span id="search_result">
                <ul class="list-group">
                    
                </ul>
</span>
            <input type="button">
        </form>
        <h2 class="popularDishesH2 sourceSerif-font">Popular Dishes</h2>
        <div class="popularDishes sourceSerif-font">
            <%- include("./partials/renderImages.ejs", {images: images}) %>
        </div>
    </main>
    <footer>

    </footer>
</body>
</html>
<script src="./func.js">
</script>