<%- include("./partials/header.ejs", {pageClass: "home"}) %>
    <main>
        <form action="/search" method="post">
            <input type="text" placeholder="Search for a recipe" required>
            <input type="button">
        </form>
        <h2 class="popularDishesH2 sourceSerif-font">Popular Dishes</h2>
        <div class="popularDishes sourceSerif-font">
            <%- include("./partials/renderImages.ejs", {images: images}) %>
        </div>
    </main>
    <footer>

    </footer>
</body>
</html>